$css_prefix: "modern_sc_";

.#{$css_prefix}spreadsheet_container {
  position: relative;
  isolation: isolate;
  border: 2px solid black;
}

.#{$css_prefix}content {
  position: absolute;
}

.#{$css_prefix}sheet {
  display: block;
  contain: strict;
}

.#{$css_prefix}scroller {
  position: absolute;
  overflow: scroll;
  box-sizing: border-box;
  transform: translateZ(0);

  &:focus {
    outline: none;
  }
}

.#{$css_prefix}editor {
  position: absolute;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.#{$css_prefix}hide {
  visibility: hidden;
}
