

.content {
    position: absolute;
    top: 0;
    left: 0;
}

.spreadsheet_container {
    position: relative;
    isolation: isolate;
    border: 2px solid black;
}

.sheet{
    display: block;
    contain: strict;
}

.scroller {
    overflow: scroll;
    box-sizing: border-box;
    transform: translateZ(0);
}